@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>JagService</h1>
    <p class="lead">Innowacyjny system zarządzania serwisem samochodowym marki Jaguar</p>
</div>

